.jumbotron  {
   background-color:lightgreen;
   color:black;
}

.btn  {
	color: yellow;
}		

footer {
   padding:10px 10px 10px;
   background-color:yellow;
   margin-bottom:0px;
   margin-top:30px;

}

.card-producto {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;

}

